{#
/**
 * @file
 * Default theme implementation to present a single custom data item.
 *
 * This template is used when viewing a registered custom data's page,
 * e.g., /custom-data/123. 123 being the custom data's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_custom_data()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
